---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Mon Histoire</h1>

  <h2>Mes Débuts en Programmation</h2>
  <p>
    Tout a commencé en 5e, quand j’ai reçu mon premier MacBook. J’ai créé ma
    première calculatrice en ligne de commande en C++. À l’époque, je rêvais de
    développer un jeu vidéo inspiré du film Chappie. Un projet (un peu trop)
    ambitieux pour un collégien, mais qui m’a montré que j’avais déjà l’esprit
    d’un créateur. Au collège, j’ai découvert Scratch, puis en seconde, j’ai
    choisi l’option ICN (Informatique et Création Numérique), où j’ai appris les
    bases du Python.
  </p>

  <h2>L’Éveil de Ma Passion</h2>
  <p>
    En première, j’ai choisi la spécialité NSI (Numérique et Sciences
    Informatiques). C’est là que tout a vraiment commencé. J’ai développé une
    application de recommandation de repas en JavaScript, que j’ai ensuite
    recodée plusieurs fois en Vue 2 pour améliorer son architecture. Le
    confinement lié au COVID m’a offert du temps libre, que j’ai consacré à
    monter en compétences. J’ai alors fait un des choix les plus important de ma
    vie en rejoignant Hiberfile, une alternative open source à WeTransfer, en
    tant que développeur principal. Ce projet m’a permis de maîtriser à la fois
    le front-end et le back-end, avec quelques centaines d’utilisateurs à gérer.
  </p>

  <h2>Mon Passage en École</h2>
  <p>
    Après le lycée, j’ai intégré HETIC, une école réputée en développement. J’ai
    opté pour un bachelor en Data et IA plutôt qu’en web, car je voulais
    explorer de nouveaux horizons. Ce choix s’est avéré visionnaire :
    aujourd’hui, la Data et l’IA sont au cœur des innovations technologiques.
    <br />À HETIC, j’ai choisi de me concentrer sur la structure de mes projets
    et le clean code, alors que le programme visait à nous apprendre à délivrer
    rapidement de la valeur. Aujourd'hui en master à l’EEMI, j’ai paradoxalement
    fait l'inverse : alors que le programme est conçu pour nous apprendre à
    architecturer nos projets, je me suis focalisé sur la création rapide de
    valeur. Résultat ? Je maîtrise aujourd’hui les deux aspects clés du
    développement : une architecture scalable et une livraison efficace. Cette
    double compétence me permet de faire les meilleurs compromis pour répondre à
    vos besoins, qu’il s’agisse de prototyper rapidement ou de construire des
    solutions durables.
  </p>

  <h2>Mon Univers Technologique</h2>
  <p>
    Aujourd’hui, je me définis comme un développeur très généraliste. J’ai
    exploré une multitude de langages et de technologies au fil des années, ce
    qui me permet de m’adapter à presque tous les projets. Que ce soit en
    TypeScript, Golang, React Native, ou bien d’autres outils, je suis à l’aise
    pour plonger dans de nouveaux écosystèmes et trouver les solutions les plus
    adaptées. Mon objectif ? Rester proche des besoins concrets des projets tout
    en continuant à explorer et à apprendre.
  </p>

  <a href="/contact" class="btn mt-4" data-astro-prefetch>Me Contacter</a>
</Layout>
