---
import { cursorClass } from "./cursor.css";

import cursor from "../../assets/cursor.svg?raw";
---

<script>
    import gsap from "gsap";
    import { cursorClass } from "./cursor.css";

    let cursor: HTMLElement | null = null;

    window.addEventListener("load", () => {
        cursor = document.querySelector("#cursor svg");
    });

    const initCursor = (e: MouseEvent) => {
        if (cursor) {
            cursor.style.transform = `translate(${
                e.pageX - 5 - window.scrollX
            }px, ${e.pageY - 7 - window.scrollY}px)`;

            cursor.parentElement?.classList.remove(cursorClass.default);
            cursor.parentElement?.classList.add(cursorClass.visible);
        }
    };

    if (!("ontouchstart" in window)) {
        document.addEventListener("mouseenter", initCursor);

        document.addEventListener("mousemove", (e) => {
            if (cursor) {
                if (
                    cursor.parentElement?.classList.contains(
                        cursorClass.default
                    )
                ) {
                    initCursor(e);
                }

                gsap.to(cursor, {
                    duration: 0.1,
                    x: e.pageX - 5 - window.scrollX,
                    y: e.pageY - 7 - window.scrollY,
                });
            }
        });

        document.addEventListener("mouseleave", (e) => {
            gsap.to(cursor, {
                duration: 0.1,
                x: e.pageX - 5 * 2 - window.scrollX,
                y: e.pageY - 7 * 2 - window.scrollY,
                onComplete: () => {
                    cursor?.parentElement?.classList.remove(
                        cursorClass.visible
                    );
                    cursor?.parentElement?.classList.add(cursorClass.default);
                },
            });
        });
    }
</script>

<div id="cursor" class={cursorClass.default} set:html={cursor}></div>
