---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Arthur Fontaine</title>

		<link href="//fastly-cloud.typenetwork.com/projects/8506/fontface.css?67a21f40" rel="stylesheet" type="text/css">
	</head>
	<body
		class="prose dark:prose-invert dark:bg-gray-900 container py-12 md:py-32 prose-headings:font-title font-display min-h-dvh flex flex-col"
	>
		<slot />
	</body>
</html>
